{{>layout/header}}

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">AWS-Demo</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    {{#userName}}
        <a class="btn btn-primary" type="button" href="/logout" role="button">Logout</a>
    {{/userName}}
    {{^userName}}
        <a class="btn btn-primary" type="button" href="/oauth2/authorization/google" role="button">Google Login</a>
    {{/userName}}
    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login.html">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link" href="/index.do">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
            {{#userName}}
                <div class="small">Logged in as:</div>
                {{userName}}
            {{/userName}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Board</h1>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        <a href="/posts/save" class="btn">글쓰기</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>게시글번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>최종수정일</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">
                                {{#posts}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                                        <td>{{author}}</td>
                                        <td>{{modifiedDate}}</td>
                                    </tr>
                                {{/posts}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
</body>

{{>layout/footer}}